apiVersion: v1
kind: Namespace
metadata:
  name: cert-manager-operator
  labels:
    pod-security.kubernetes.io/enforce: privileged
    security.openshift.io/scc.podSecurityLabelSync: "false"
  annotations:
    argocd.argoproj.io/sync-wave: "-1"